.main-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid;
}

.view-area {
    height: 40vh;
    height: calc(var(--app-height) * 0.4);
}

.game-area {
    height: 60vh;
    height: calc(var(--app-height) * 0.6);
}